body {
  background-color: #00000b;
  margin-top: 0.5em;
  font-family: Helvetica, Arial, sans-serif;
  margin: auto;
  text-align: center;
}


form {
  width: 1000px;
  margin: 0 auto 0 auto;
  background-color: black;
}

p {
  color: white;
  text-align: left;
}

h1 {
  color: white;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

form h1 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

#gamemode {
  text-align: center;
  margin: auto;
  border-bottom: 1.5em;
}

upload input {
  text-align: center;
}

form p {
  text-align: center;
  font-size: 1.25em;
}

table {
  margin: 1em auto 0 auto;
  border: 0;
  border-collapse: collapse;
}

table.game td {
  padding: 0 0.3em;
  border: 0;
  text-align: center;
  font-size: 1.5em;
  height: 50px;
}

table.game td:first-child {
  padding-right: 1em;
  text-align: right;
}

table.game td:last-child {
  font-size: 1.5em;
  padding-left: 1em;
}

table.picker {
  text-align: center;
  margin-top: 2em;
}

table.picker td {
  padding: 0 0.25em;
}

form input[type="submit"] {
  font-size: 1.0em;
  width: 7em;
}

form button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}

img {
  border: 0;
  padding: 0;
  margin: 0;
}

p.gripe {
  color: red;
  font-style: italic;
}

p.hint {
  color: darkblue;
}

p.end {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

p.solution {
  margin-top: 35em;
  text-align: center;
}

p.standings {
  font-size: .75em;
  text-align: left;
  color: white;
}

p.standings2 {
  font-size: .65em;
  text-align: left;
  color: white;
}

h3.white {
  color: white;
}

.content::after {
  display: flex;
  border: 5px solid #555;
  align-content: center;
  text-align: center;

}

.content img {
  margin-right: 10px;
  display: block;
  border: 5px solid #555;
}

h3 {
  text-align: center;
  font-size: .9em;
  margin: 0;
  vertical-align: middle;

}
.content p {margin: 0;}

table, th, td {
  border: 1px solid black;
}

.block {
  width: 250%;
}

.credits p {
  text-align: center;
  color: white;
}

.credits h4 {
  text-align: center;
  color: white;
}

.button {
  background-color: #4CAF50; /* Green */
  border: red;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.article {
  float: left;
  width: 50%;
  background-color: #00000b;
}

/* Dropdown Button */
.dropbtn {
  background-color: gray;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
